/* Header */
div.header {
    text-align: center;
    background-color: black;
    height: 20vh;
}


p.home-link{
    color: white;
    width: 100px;
    background-color: black;
    position: absolute;
}

img.nhl-logo {
    height: 20vh;
}



div.show {
    display: block;
}

div.hide {
    display: none;
}




div.App {
    min-height: 100vh;
    position: relative;
    padding-bottom: 10vh;
}







/* Footer */
div.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
}
div.footer p {
    margin: auto;
    padding: 2vh;
}
div.footer a {
    color: white;
}
div.footer span {
    margin: 2em;
}




